@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400,500,700&display=swap');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: #fff;
    padding: 24px 0;
}

footer {
    background: #fcfdfe;
    border-top: 1px solid rgba(241, 242, 243, 0.5);
    color: rgb(117, 117, 117);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    padding: 20px 0;
}

footer a {
    color: inherit;
    text-decoration: none;
    transition: .2s linear;
}

footer a:hover {
    color: #000;
    transition: .2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 12px 0 6px;
}

ul.nav {
    display: inline;
    list-style: none;
    padding-left: 0;
}

ul.nav li {
    display: inline-block;
}

li.nav-item a {
    color: rgba(255, 255, 255, 0.65);
    transition: .2s linear;
}

li.nav-item a:hover {
    color: rgba(255, 255, 255, 1);
    transition: .2s linear;
}

footer a.nav-item {
    padding: 8px 16px;
}

article.body {
    padding: 48px 0 48px 64px;
}

article.body h1,
article.body h2,
article.body h3,
article.body h4,
article.body h5,
article.body h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin: 0 0 8px;
    color: #323d47;
}

article.body ol {
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
}

article.body h1 {
    font-size: 40px;
}

article.body h2 {
    font-size: 32px;
    margin-top: 32px;
}

article.body h3 {
    font-size: 28px;
}

article.body h4 {
    font-size: 24px;
}

article.body p {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Barlow', sans-serif;
}

article.body code {
    color: #ba5e63;
    font-size: 87%;
}

article.body code a {
    color: inherit;
}

article.body pre {
    background-color: #f9f9f9;
    padding: 24px;
    color: #ba5e63;
    font-size: 87%;
}

article.body h1>a.iref,
article.body h2>a.iref {
    display: inline-block;
    position: absolute;
    margin-left: -24px;
    opacity: 0;
}

article.body h1:hover>a.iref,
article.body h2:hover>a.iref {
    opacity: 1;
}

article.body ul.inline-center {
    list-style: none;
    text-align: center;
}

article.body ul.inline-center li {
    display: inline-block;
    line-height: 1.75;
}

article.body ul.inline-center li::after {
    content: ' ';
    display: inline-block;
    padding: 0 12px;
    color: rgba(0, 0, 0, 0.6);
}

article.body ul.inline-center li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
article.body ul.inline-center li a:hover {
    color: rgba(0, 0, 0, 0.9);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
}

.container .breadcrumb {
    background: rgba(241, 242, 243, 0.5);
    padding: 8px 32px;
    margin: 0 -15px;
    font-family: 'Barlow', sans-serif;
}

.container .breadcrumb ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.container .breadcrumb ul li {
    display: inline-block;
    color: rgb(117, 117, 117);
}

.container .breadcrumb ul li.active {
    font-weight: 500;
    color: #ba5e63;
}

.container .breadcrumb ul li::after {
    content: ' / ';
    color: rgb(117, 117, 117);
    font-weight: 900;
}

.container .breadcrumb ul li:last-child::after {
    display: none;
}

.container .breadcrumb ul li a {
    color: rgb(117, 117, 117);
    text-decoration: none;
}

.container .breadcrumb ul li code a {
    color: #ba5e63;
}

.navbar {
    margin-bottom: 24px;
}

.nav-item .nav-link {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 56px;
    padding: 0 18px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 2px;
}

.nav-link.logo {
    color: #fff;
    font-family: monospace, sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding: 0;
    text-transform: lowercase;
}

.nav-item.pipe {
    color: rgba(255, 255, 255, 0.45);
    padding: 0 18px 0 36px;
}

.main-content {
    display: flex;
    min-height: calc(100vh - (190px + 60px));
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.height-100 {
    min-height: 100%;
    height: 100%;
}

.grow-1 {
    flex-grow: 1;
}

.has-sidebar .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: contents;
}

.side-body {
    padding: 12px 0;
}

.side-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}

.side-body li {
    font-weight: 400px;
    border-bottom: 1px dashed #eaeff4;
    font-family: 'Barlow', sans-serif;
    font-weight: 600px;
    padding: 12px 0;
}

.side-body li a {
    text-decoration: none;
    color: inherit;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.rborder {
    border-right: 1px solid #f1f2f3;
}

.rshadow {
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.015);
}

.separator {
    border-bottom: 2px solid #DDDDDD;
    margin: 48px 0;
}

.separator::after {
    height: 16px;
    width: 16px;
    background: #FFF;
    content: ' ';
    position: relative;
    left: 50%;
    border: 2px solid #DDDDDD;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    margin-bottom: -14px;
    display: inline-block;
}