@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    color: #fff;
    padding: 24px 0;
}

footer {
    background: #fcfdfe;
    border-top: 1px solid rgba(241, 242, 243, 0.5);
    color: rgb(117, 117, 117);
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
    padding: 20px 0;
}

footer a {
    color: inherit;
    text-decoration: none;
    transition: .2s linear;
}

footer a:hover {
    color: #000;
    transition: .2s linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow', sans-serif;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 12px 0 6px;
}

ul.nav {
    display: inline;
    list-style: none;
    padding-left: 0;
}

ul.nav li {
    display: inline-block;
}

li.nav-item a {
    color: rgba(255, 255, 255, 0.65);
    transition: .2s linear;
}

li.nav-item a:hover {
    color: rgba(255, 255, 255, 1);
    transition: .2s linear;
}

footer a.nav-item {
    padding: 8px 16px;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
}

.navbar {
    margin-bottom: 24px;
}

.nav-item .nav-link {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 56px;
    padding: 0 18px;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 2px;
}

.nav-link.logo {
    color: #fff;
    font-family: monospace, sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding: 0;
    text-transform: lowercase;
}

.nav-item.pipe {
    color: rgba(255, 255, 255, 0.45);
    padding: 0 18px 0 36px;
}

.main-content {
    display: flex;
    min-height: calc(100vh - (190px + 60px));
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    box-sizing: border-box;
    display: inline-block;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
    width: 100%;
}

.col-1 {
    -webkit-box-flex: 0;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col-2 {
    -webkit-box-flex: 0;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-3 {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-8 {
    -webkit-box-flex: 0;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col-9 {
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-11 {
    -webkit-box-flex: 0;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col-12 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.text-right {
    text-align: right !important;
}